@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

@keyframes from-left {
  from { 
    opacity: 0;
    transform: translateX(-20px);
  }
  to { 
    opacity: 1; 
    transform: translateX(0px);
  }
}

.animate-fade-in {
  animation-name: from-left;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

@keyframes from-right {
  from { 
    opacity: 0;
    transform: translateX(20px);
    }
  to { 
    opacity: 1; 
    transform: translateX(0px);
  }
}

.animate-from-bottom {
  animation-name: from-right;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

.my-custom-text {
  font-family: 'Roboto', sans-serif;
}